/* Fixed navbar */
body {
	padding-top: 90px;
	background-image: url("https://images.chesscomfiles.com/uploads/v1/article/17140.5f75786a.630x354o.bd9268021834.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
div.jumbotron{
    color: chocolate;
	font-family: "Century Gothic";
}


/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
