{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>

                </tr>
                </thead>
                <tbody>
                {% for cart in cart_items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cart.book.book_name }}</td>
                        <td>{{ cart.book.book_retailPrice }}</td>
                        <td>{{ cart.quantity }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <label class="control-label col-sm-1">Total Price:</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon" id="total-price">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                           value="{{ total_price }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}